/* .example-card {
  width: 400px;
}

.example-header-image {
  background-image: url('http://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}
*/
.mat-card-image{
  min-height: 192px;
  max-height: 192px;
}
