<div class="text-center">
  <h1>Detalles de tu viaje</h1>
</div>
<div fxLayout="row" fxLayoutAlign="center stretch" fxLayout.lt-sm="column" fxLayoutGap="5%">
  <mat-card fxFlex="55" fxLayout="column" fxLayoutAlign="start">
    <mat-card-header fxFlex="100">
      <h1>{{travel.hotel.name}}</h1>
    </mat-card-header>
    <mat-card-content fxFlex="200px" fxLayout="row" fxLayoutWrap>
      <img fxFlex="42" src="assets/images/hotel1.jpg">
      <div fxFlex="45" class="ml15">
        <p>Ida:{{(travel.departureDate | date) + " " + (travel.departureCity) }}</p>
        <p>Vuelta:{{(travel.returnDate | date) + " " + (travel.arrivalCity) }}</p>
        <div>
          <mat-icon color="primary" *ngFor="let star of travel.hotel.stars">star</mat-icon>
          <div> Calificacion</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="mt5" fxFlex="40">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-icon>attach_money</mat-icon>Precio por Viaje
        </mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutWrap>
          <span fxFlex="80">Hotel + vuelo </span><span fxFlex class="text-right">${{travel.price}}</span><br>
          <span fxFlex="80">Numero de Personas </span><span fxFlex class="text-right">x{{travel.numberOfPeople}}</span>

          <span fxFlex="80" style="border-top-style: solid;"> Total</span><span fxFlex="20" style="border-top-style: solid;"
            class="text-right">${{travel.price * travel.numberOfPeople}}</span>
          <!-- checar este button -->
          <span fxFlex="80"></span> <button fxFlex="100px" fxFlexAlign="center" mat-raised-button color="accent" [routerLink]="['/compra', travel.id]">Comprar</button>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-icon>chat</mat-icon> Opiniones
        </mat-expansion-panel-header>
        <div style="border: 1px solid white; height: 37px " *ngFor="let opinion of travel.hotel.opinions">
          <mat-icon>message</mat-icon>{{opinion}}
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>