<mat-toolbar>
  <div class="content-center" fxFlex="10" fxLayoutAlign="center center" >
    <button mat-icon-button color="warn" routerLink="/compra">
    <mat-icon aria-label="Example icon-button with a heart icon">arrow_back</mat-icon>
  </button>
  </div>
  <div fxFlex class="text-center content-center" >
    Forma de Pago
  </div>
</mat-toolbar>
<div *ngIf="!compra" class="mt5" fxLayout="row" fxLayout.lt-sm="column">
  <mat-card fxFlex="30" style="background-color:#3f51b5; color: white;">
    <mat-card-content>
      <div fxLayout="row" fxLayoutWrap>
        <p fxFlex="80">Nombre: {{purchase.name + " " + purchase.lastName}}</p>
        <p fxFlex="80">Hotel: {{purchase.travel.hotel.name}}</p>
        <p fxFlex="80">Paquete para {{purchase.travel.numberOfPeople}} Personas</p>
        <p fxFlex="20">${{purchase.travel.price * purchase.travel.numberOfPeople}}</p>
        <p fxFlex="80">Descuento viajesredondos.com</p>
        <p fxFlex="20">$150</p>
        <p fxFlex="80">Impuestos, tasas y cargos</p>
        <p fxFlex="20">$100</p>
        <p fxFlex="80">Total</p>
        <p fxFlex="20">${{purchase.travel.price * purchase.travel.numberOfPeople - 50}}</p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex>
    <mat-card-content>
      <div [formGroup]="tarjetaForm" fxLayout="row" fxLayoutWrap fxLayoutGap="10px">
        <mat-form-field fxFlex="100">
          <mat-select placeholder="Tarjeta" formControlName="type" name="tarjeta">
            <mat-option *ngFor="let tarjeta of tarjetas" [value]="tarjeta.name">
              {{tarjeta.name}}
            </mat-option>
          </mat-select>
           <mat-error>campo requerido</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="45">
          <input matInput formControlName="numberCard" placeholder="Numero de Tarjeta">
          <mat-error>campo requerido</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="15">
          <mat-select placeholder="Mes" name="mes" formControlName="month">
            <mat-option *ngFor="let mes of meses" [value]="mes.name">
              {{mes.name}}
            </mat-option>
          </mat-select>
          <mat-error>campo requerido</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="15">
          <mat-select placeholder="Ano" name="año" formControlName="year">
            <mat-option *ngFor="let ano of anos" [value]="ano.name">
              {{ano.name}}
            </mat-option>
          </mat-select>
          <mat-error>campo requerido</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="17">
          <input matInput formControlName="code" placeholder="Codigo de Seguridad">
          <mat-error>campo requerido</mat-error>
        </mat-form-field>


        <mat-form-field fxFlex="50">
          <input matInput formControlName="holder" placeholder="Titular de la tarjeta">
          <mat-error>campo requerido</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" [formGroup]="tarjetaForm" fxLayoutWrap fxLayoutGap="10px">
        <h3 fxFlex="100">Direccio de entrega del resumen de la tarjeta</h3>
        <mat-form-field fxFlex="45">
          <mat-select placeholder="Estado" formControlName="state" name="estado">
            <mat-option *ngFor="let estado of estados" [value]="estado.name">
              {{estado.name}}
            </mat-option>
          </mat-select>
          <mat-error>campo requerido</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="45">
          <input matInput placeholder="Ciudad" formControlName="city">
          <mat-error>campo requerido</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="45">
          <input matInput placeholder="Calle" formControlName="street">
          <mat-error>campo requerido</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="15">
          <input matInput placeholder="Numero">
          <mat-error>campo requerido</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="15">
          <input matInput placeholder="Piso">
        </mat-form-field>

        <mat-form-field fxFlex="15">
          <input matInput placeholder="Departamento">
        </mat-form-field>
        <mat-form-field fxFlex="30">
          <input matInput placeholder="Codigo Postal" formControlName="postalCode">
          <mat-error>campo requerido</mat-error>
        </mat-form-field>
      </div>
      <mat-card-actions>
        <button mat-raised-button color="warn" (click)="comprar()">
          COMPRAR
        </button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
<div *ngIf="compra">
  <h1>Gracias por tu compra</h1>
</div>