@import '~@angular/material/theming';

@include mat-core();

/*Primary themes*/
$accent: mat-palette($mat-light-green);
$warn: mat-palette($mat-red,A700);
$primary: mat-palette($mat-deep-orange);
$default-theme: mat-light-theme($primary,$accent,$warn);
@include angular-material-theme($default-theme);

/** Light theme*/
$light-primary: mat-palette($mat-deep-orange,100);
$light-theme: mat-light-theme($light-primary,$accent,$warn);

.light-theme{
  @include angular-material-theme($light-theme);
}

/*dark theme*/
$dark-primary: mat-palette($mat-deep-orange, 700);
$dark-theme: mat-dark-theme($dark-primary, $accent, $warn);

.dark-theme {
  @include angular-material-theme($dark-theme);
}
app-root{
  top: 0; 
  left: 0;
  right: 0; 
  bottom: 0; 
  position: absolute;
}
.container{
  padding: 10px
} 
.mr5{
  margin-right: 5px;
}
.mt5{
  margin-top: 5px!important;
}
.mb5{
  margin-bottom: 5px!important;
}
.mb10{
  margin-bottom: 10px!important;
}
.m0{
  margin: 0px!important; 
}